# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/

# Environment variables
.env

# Virtual environment
venv/
env/
ENV/

# Static files (optional if generated)
staticfiles/

# Node (if used)
node_modules/

# OS files
.DS_Store
Thumbs.db

# VS Code / IDE
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp
